ol{
background-color: rgb(238, 179, 179);
margin: 10px;
padding: 5px;
list-style: none;
}

li{
background-color: rgb(179, 91, 91);
padding: 5px;
margin: 10px;
color: white;
}

li span {
    background-color: rgb(134, 36, 36);
    margin: 10px;
    padding: 5px; 
}

ol li {
    counter-increment: my-awesome-counter;
}

ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: rgb(255, 255, 255);
}

.zoznam3{
    background-color: rgb(202, 200, 200);
    padding: 10px;
}
.zoznam4{
        background-color: rgb(157, 221, 255);
        color: black;
        margin-left: 5px;
        margin-right: 5px;
        list-style: none;
}

.zoznam5{
    background-color: rgb(116, 115, 115);
    color: black;
    margin-left: 5px;
    margin-left: 5px;
    list-style: none;
}

.zoznam6{
    background-color: rgb(185, 185, 185);
    color: black;
    margin-left: 5px;
    margin-left: 5px;
    list-style: none;
}

.x{
    color: red;
}