.zoznam1{
background-color:white;
color: black;
list-style-image: url(https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/000000/external-arrow-arrows-those-icons-lineal-color-those-icons-3.png); 
}
.zoznam2{
background-color:white;
color: black;
list-style-image: url(https://img.icons8.com/color/48/000000/watermelon.png);
}
.zoznam8{
    background-color:white;
    color: black;
    list-style-image: url(https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-flower-gardening-vitaliy-gorbachev-flat-vitaly-gorbachev.png);
}
.zoznam9{
    background-color:white;
    color: black;
    list-style-image: url(https://img.icons8.com/emoji/48/000000/snowflake-emoji.png); 
}

.zoznam10{
background-color: rgb(238, 179, 179);
margin: 10px;
padding: 5px;
list-style-position: inside;
}

.zoznam11{
background-color: rgb(179, 91, 91);
padding: 5px;
margin: 10px;
color: white;
}

.span1{
    background-color: rgb(134, 36, 36);
    margin: 10px;
    padding: 5px; 
}

.zoznam3{
    background-color: rgb(202, 200, 200);
    padding: 10px;
}
.zoznam4{
        background-color: rgb(157, 221, 255);
        color: black;
        margin-left: 5px;
        margin-right: 5px;
        list-style: none;
}

.zoznam5{
    background-color: rgb(116, 115, 115);
    color: black;
    margin-left: 5px;
    margin-left: 5px;
    list-style: none;
}

.zoznam6{
    background-color: rgb(185, 185, 185);
    color: black;
    margin-left: 5px;
    margin-left: 5px;
    list-style: none;
}

.x{
    color: red;
}

table{
border: none;
border-collapse: collapse;
}

.na{
font-size: 20px;
background-color: rgb(5, 90, 79);
color:white;
padding-left: 20px;
}
.tx{
font-size: 20px;
background-color: rgb(41, 116, 106);
color:white;
padding-left: 20px;
}

.dt1{
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dd1{
    font-style: bold;
    color: rgb(99, 96, 96);
    margin-left: 0;
}

.dt2{
    font-style: bold;
    color: rgb(13, 0, 194);
}

.dt3{
    font-style: bold;
    color: rgb(34, 34, 34);
}